name: Build

on: 
  push:
  schedule:
    - cron: '30 8 * * 3'
defaults:
  run:
    shell: bash
    working-directory: ./

jobs:
  Build:
    name: Build 

    strategy:
      fail-fast: false
      matrix:
        os:                    
          - windows-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip pyinstaller pytest
          pip install -r installResources.ps1      

      - name: Build with pyinstaller
        run: pyinstaller --onefile --name=app-${{ matrix.os }} main.py

      - name: Deploy artifacts
        uses: actions/upload-artifact@v3
        with:
          name: app-${{ matrix.os }}
          path: app-${{ matrix.os }}.exe
          if-no-files-found: error
